<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="details.css">
    <title>Movies</title>
</head>
<body>
        <nav>
            <div class="container">
                <div class="row-navbar">
                    <a class="mv-logo" href="">
                        <span>
                            Marvel
                        </span>
                    </a>
                    <div class="right-info">
                        <ul class="nav-items">
                            <li class="active">
                                Personagens
                            </li>
                            <li>
                                Filmes
                            </li>
                            <li>
                                HQs
                            </li>
                        </ul>
                        <div class="nav-login">
                            <img src="../assets/avatar.svg" alt="" />
                            <span>
                                Sair
                            </span>
                        </div>
                    </div>
                </div>
            </div> 
        </nav>
        <section>
            <div class="container">
                <div class="details-movies">
                    <div class="info">
                        <h2 class="title">Fenticeira wanda: Fenticeira wanda:</h2>
                        <p class="description-movies">
                            Em Capitão América: O Primeiro Vingador, conhecemos a história de Steve Rogers (Chris Evans) e como ele se tornou o melhor soldado do mundo. 
                        </p>
                        <p class="avaible-on">
                            Disponível em:
                        </p>
                        <img class="avaibles-streaming" src="../assets/disney.svg" alt="" />
                        <img class="avaibles-streaming" src="../assets/americanas.svg" alt="" />
                        <img class="avaibles-streaming" src="../assets/amazon.svg" alt="" />

                        <p class="rate-text">
                            Critíca:
                        </p>
                        <div class="rate">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-empty.svg" alt="">
                        </div>
                        <img class="close-movies" src="../assets/close.svg" alt="">
                    </div>
                    <img src="../assets/wanda.png" alt="">
                </div>
                <div class="details-right">
                    <img src="../assets/wanda.png" alt="">
                    <div class="info">
                        <h2 class="title">Fenticeira wanda</h2>
                        <p class="apparitions">Aparições: </p>
                        <p class="movies">
                            Vingadores - Era de Ultron 
                            Capitão América - Guerra Civil
                            Vingadores - Guerra Infinita
                            Vingadores - Ultimato 
                            WandaVision
                        </p>
                        <p class="rate-text">
                            Avaliações dos Fãs
                        </p>
                        <div class="rate">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-empty.svg" alt="">
                        </div>
                        <img class="close" src="../assets/close.svg" alt="">
                    </div>
                </div>
                <div class="details-right">
                    <div class="info">
                        <h2 class="title">Fenticeira wanda</h2>
                        <p class="apparitions">Aparições: </p>
                        <p class="movies">
                            Vingadores - Era de Ultron 
                            Capitão América - Guerra Civil
                            Vingadores - Guerra Infinita
                            Vingadores - Ultimato 
                            WandaVision
                        </p>
                        <p class="rate-text">
                            Avaliações dos Fãs
                        </p>
                        <div class="rate">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-full.svg" alt="">
                            <img src="../assets/star-empty.svg" alt="">
                        </div>
                        <img class="close" src="../assets/close.svg" alt="">
                    </div>
                    <img src="../assets/wanda.png" alt="">
                </div>

            </div>
        </section>
</body>
</html>