<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <a class="mv-logo" href="">
            <span>
                Marvel
            </span>
        </a>
        <div class="box">
            <h1 class="title">Bem vindo(a) de volta!</h1>
            <p class="access-account">Acesso sua conta:</p>
            <form action="">
                <label for="email">
                    <input type="email" name="email" placeholder="Usuário" required />
                </label>
                <label for="password">
                    <input type="password" name="password" placeholder="Senha" required />
                </label>
                <div class="form-options">
                    <div class="save-login">
                        <input type="checkbox" name="saveLogin">
                        <span>Savar login</span>
                    </div>
                    <a href class="forgot-password">Esquecia a senha</a>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <p class="no-account"> Ainda nao tem o login? <a href class="signup">Cadastre-se</a></p>
        </div>
    </div>      
</body>
</html>